* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    line-height: 1.6;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.marquee-container {
    width: 100%;
    overflow: hidden;
    /* fundo preto */
    padding: 10px 0;
    margin-top: 50px;
}

.marquee-track {
    display: inline-block;
    white-space: nowrap;
    animation: scroll-left 20s linear infinite;
}

.marquee-track span {
    font-size: 30px;
    font-weight: BOLD;
    color: rgba(0, 0, 0, 0.2);
    /* cinza claro e opaco */
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* Animação */
@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* SECTION */
.plano-section {
    text-align: center;
    padding: 40px 20px;
}

.plano-titulo {
    font-size: 28px;
    color: #254BAA;
    margin-bottom: 30px;
}

.plano-titulo span {
    color: black;
}

/* GRID DE CARDS */
.plano-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

/* CARD INDIVIDUAL */
.card-plano {
    flex: 1 1 300px;
    max-width: 300px;
    background: #0B142F;
    border: 2px solid #254BAA;
    border-radius: 12px;
    padding: 30px 20px;
    position: relative;
    box-shadow: 0 0 20px rgba(37, 75, 170, 0.3);
}

/* TOPO DO CARD */
.topo-card {
    background: linear-gradient(to right, #254BAA, #142A65);
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.topo-card h3 {
    margin: 0;
    color: white;
    font-weight: bold;
}

/* BENEFÍCIOS */
.beneficios {
    list-style: none;
    padding: 0;
    margin: 0 0 30px;
    font-size: 15px;
    line-height: 1.6;
}

.beneficios li {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 15px;
}

.check-icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    margin-top: 3px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.beneficios li:hover .check-icon {
    transform: scale(1.2);
}

.beneficios li span {
    color: #fff;
    display: inline-block;
}

.beneficios strong {
    color: #fff;
}

.beneficios span span {
    color: #5d8eff;
    font-weight: bold;
}

/* PREÇOS */
.preco {
    margin-bottom: 30px;
}

.pix {
    color: #254BAA;
    font-size: 28px;
}

.pix span {
    font-size: 14px;
    color: #ccc;
}

.cartao {
    font-size: 14px;
    color: white;
}

.parcelamento {
    font-size: 12px;
    color: #999;
}

/* BOTÃO */
.botao-plano {
    display: inline-block;
    background: #254BAA;
    color: #040A1A;
    padding: 15px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.3s ease;
}

.botao-plano:hover {
    background: #142A65;
    box-shadow: 0 0 18px #0B142F;
}

/* RESPONSIVO */
@media (max-width: 768px) {
    .card-plano {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .botao-plano {
        width: 100%;
        font-size: 16px;
        padding: 14px;
    }
}