.antesDepois-container {
    background: #fff;
    color: #000;
    text-align: center;
    padding: 40px 20px;
}

.antesDepois-title {
    color: #2a4ddb;
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 40px;
    font-weight: 400;
}

.antesDepois-title span {
    color: black;
}

.antesDepois-carousel-wrapper {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

.antesDepois-carousel-track {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.antesDepois-carousel-item {
    min-width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.antesDepois-carousel-item img {
    width: 350px;
    height: 300px;
    object-fit: cover;
    transition: all 0.3s ease;
}

.antesDepois-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    color: #2a4ddb;
    z-index: 2;
}

.antesDepois-arrow.left {
    left: 60px;
}

.antesDepois-arrow.right {
    right: 60px;
}

.antesDepois-button {
    background: linear-gradient(90deg, #0F1E44 0%, #254BAA 100%);
    color: white;
    margin-top: 60px;
    padding: 20px 100px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    display: inline-block;
    transition: opacity 0.3s ease;
    margin-bottom: 20px;
    box-shadow: 0px 4px 12px rgba(10, 59, 123, 0.4);
}

.antesDepois-button:hover {
    opacity: 0.9;
}

/* TABLET */
@media (max-width: 1024px) {
    .antesDepois-carousel-item {
        gap: 10px;
    }

    .antesDepois-carousel-item img {
        width: 45%;
        height: auto;
    }

    .antesDepois-arrow.left {
        left: 30px;
    }

    .antesDepois-arrow.right {
        right: 30px;
    }

    .antesDepois-button {
        padding: 16px 80px;
        font-size: 15px;
    }
}

/* MOBILE */
@media (max-width: 600px) {
    .antesDepois-title {
        margin-bottom: 30px;
    }

    .antesDepois-carousel-item {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .antesDepois-carousel-item img {
        width: 80%;
        height: auto;
    }

    .antesDepois-arrow.left,
    .antesDepois-arrow.right {
        font-size: 22px;
    }

    .antesDepois-arrow.left {
        left: 10px;
    }

    .antesDepois-arrow.right {
        right: 10px;
    }

    .antesDepois-button {
        padding: 14px 60px;
        font-size: 14px;
    }
}
