/* HERO DESKTOP */
.hero {
    background-image: url('../assets/img/HERO-FIGMA (1).png');
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    padding: 60px 20px;
    color: #fff;
}

.hero-text {
    max-width: 600px;
    color: #fff;
    margin-left: 80px;
}

.hero-text h1 {
    font-size: 36px;
    line-height: 1.3;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.hero-text h1 span {
    color: #254BAA;
    display: block;
}

.hero-text p {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 30px;
}

.hero-text .destaque {
    color: #254BAA;
}

.cta {
    background: linear-gradient(90deg, #0F1E44 0%, #254BAA 100%);
    color: white;
    padding: 16px 100px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    display: inline-block;
    transition: opacity 0.3s ease;
    margin-bottom: 20px;
    box-shadow: 0px 4px 12px rgba(10, 59, 123, 0.4);
}

.cta:hover {
    opacity: 0.9;
}

.alunos {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: #ffffff;
}

.alunos img {
    height: 32px;
}


.alunos span {
    width: 250px;
}

@keyframes flutuar {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(8px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* Aplica a animação ao .alunos */
.alunos {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: #ffffff;
    animation: flutuar 3s ease-in-out infinite;
}


/* HERO MOBILE */
/* HERO MOBILE */
@media (max-width: 576px) {
    .hero {
        background-image: url('../assets/img/celular.png');
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        background-position: top center;
        padding: 40px 20px;
        min-height: 120vh;
        text-align: center;
    }

    .hero-text {
        
        max-width: 500px;
        margin: 0 auto;
    }

    .hero-text h1 {
        font-size: 28px;
        width: 350px;
        margin: 0 auto 13px;
      
    }

    .hero-text h1 span {
        display: block;
        color: #254BAA;
    }

    .hero-text p {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .cta {
        padding: 14px 80px;
        font-size: 14px;
    }

    .alunos {
        justify-content: center;
        gap: 8px;
        width: 350px;
        margin: 0 auto;
    }

    .alunos img {
        height: 40px;
    }

    .alunos span {
        text-align: center;
        width: auto;
        font-size: 13px;
    }
}


/* HERO TABLET */
@media (min-width: 577px) and (max-width: 1224px) {
    .hero {
        background-image: url('../assets/img/tablet\ \(5\).png');
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        background-position: top center;
        padding: 40px 20px;
        text-align: center;
        min-height: 90vh;


    }

    .hero-text {
        margin: 0;
        max-width: 90%;
    }

    .hero-text h1 {
        font-size: 26px;
        width: 400px;
        margin: 0 auto;
    }

    .hero-text p {
        font-size: 15px;
        width: 400px;
        margin: 20px auto;
    }

    .cta {
        padding: 14px 60px;
        font-size: 15px;
    }

    .alunos {
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
        width: 100%;
    }

    .alunos img {
        height: 36px;
    }

    .alunos span {
        font-size: 13px;
        text-align: center;
    }
}